# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Compressed files
*.rar
*.zip
*.tar.gz

# Secrets
api key.txt
